@font-face {
  font-family: "iconfont"; /* Project id 2898302 */
  src: url('iconfont.woff2?t=1702905148310') format('woff2'),
       url('iconfont.woff?t=1702905148310') format('woff'),
       url('iconfont.ttf?t=1702905148310') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-erm-jingdong:before {
  content: "\e618";
}

.el-icon-erm-xuqiujihua:before {
  content: "\e636";
}

.el-icon-erm-qrcode:before {
  content: "\e76e";
}

.el-icon-erm-fenpei:before {
  content: "\e65d";
}

.el-icon-erm-changjingdakai:before {
  content: "\e628";
}

.el-icon-erm-jihua:before {
  content: "\e63a";
}

.el-icon-erm-xiaochengxu:before {
  content: "\e620";
}

.el-icon-erm-RectangleCopy:before {
  content: "\e6e9";
}

.el-icon-erm-huaban60:before {
  content: "\e601";
}

.el-icon-erm-yingxiaoguanli:before {
  content: "\e61f";
}

.el-icon-erm-yingxiaoyuan:before {
  content: "\e6ef";
}

.el-icon-erm-yingxiao:before {
  content: "\e765";
}

.el-icon-erm-fenlei:before {
  content: "\e623";
}

.el-icon-erm-pengyouquan:before {
  content: "\e650";
}

.el-icon-erm-renxiangcaiji:before {
  content: "\e615";
}

.el-icon-erm-pengyouquansucai:before {
  content: "\e60b";
}

.el-icon-erm-gongzuotai:before {
  content: "\e606";
}

.el-icon-erm-fanganku:before {
  content: "\e7b5";
}

.el-icon-erm-kehuguanli1:before {
  content: "\e637";
}

.el-icon-erm-gongdan:before {
  content: "\ec37";
}

.el-icon-erm-yujing:before {
  content: "\e61e";
}

.el-icon-erm-kehuguanli:before {
  content: "\e698";
}

.el-icon-erm-jichushezhi:before {
  content: "\e604";
}

.el-icon-erm-tongxunlu:before {
  content: "\e6c2";
}

.el-icon-erm-qunliao:before {
  content: "\e60a";
}

.el-icon-erm-weixin:before {
  content: "\e856";
}

.el-icon-erm-guzhangtousu:before {
  content: "\e6a0";
}

.el-icon-erm-yuangong:before {
  content: "\e64e";
}

.el-icon-erm-kehu:before {
  content: "\e697";
}

.el-icon-erm-wancheng:before {
  content: "\e654";
}

.el-icon-erm-add:before {
  content: "\e662";
}

.el-icon-erm-xiangying:before {
  content: "\e641";
}

.el-icon-erm-bianji:before {
  content: "\e621";
}

.el-icon-erm-xinzeng:before {
  content: "\e622";
}

.el-icon-erm-quxiao:before {
  content: "\e64f";
}

.el-icon-erm-cunrucaogaoxiang:before {
  content: "\e679";
}

.el-icon-erm-huishouzhan:before {
  content: "\e672";
}

.el-icon-erm-tianshenpi:before {
  content: "\eb67";
}

.el-icon-erm-baocun:before {
  content: "\ec09";
}

.el-icon-erm-shenpibohui:before {
  content: "\e721";
}

.el-icon-erm-shenpitongguo:before {
  content: "\e722";
}

.el-icon-erm-tubiao_fangan:before {
  content: "\e633";
}

.el-icon-erm-liebiaomoshi:before {
  content: "\e600";
}

.el-icon-erm-attachment:before {
  content: "\e6a9";
}

.el-icon-erm-duixiangdingyi:before {
  content: "\e626";
}

.el-icon-erm-caidan:before {
  content: "\e614";
}

.el-icon-erm-navicon-jsgl:before {
  content: "\e640";
}

.el-icon-erm-bumenguanli:before {
  content: "\e61d";
}

